* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.enroll {
  margin-left: 1em;
  width: 5rem;
}

.card-purple {
  background-color: rgb(143, 143, 211);
}